@font-face {
  font-family: soraRegular;
  src: url(../fonts/Sora-Regular.ttf);
}

@font-face {
  font-family: soraMedium;
  src: url(../fonts/Sora-Medium.ttf);
}

@font-face {
  font-family: soraSemibold;
  src: url(../fonts/Sora-SemiBold.ttf);
}

@font-face {
  font-family: zillaSlabSemibold;
  src: url(../fonts/ZillaSlab-SemiBold.ttf);
}

@font-face {
  font-family: zillaBold;
  src: url(../fonts/ZillaSlab-Bold.ttf);
}

@font-face {
  font-family: zillaSlabMedium;
  src: url(../fonts/ZillaSlab-Medium.ttf);
}
